main {
  font-size: 16pt;
}

/*---------- Calculator ---------*/

.calculator {
  border: indigo 6px solid;
  margin: 70px auto;
  padding: 50px;
  width: 60%;
  max-width: 300px;
}


.content-wrapper {
  margin: auto;
  padding: 10px;
  text-align: center;
}

/*---------- Screen ---------*/


.answer-content .content-wrapper {
  margin: 0px
}

#screen {
  font-size: 6em;
  margin: 25px 0px;
  border: darkgrey 3px solid ;
  text-align: right;
}

/*---------- Number + Buttons  ---------*/


.content-wrapper button {
  border: #DDABDD 5px solid;
  font-size: 4em;
  padding: 25px;
  margin: 10px;
 }

#b0 {
  width: 45%;
}

#clear {
  background-color: #ECAFEC;
  width: 66%;
}

.operator {
  background-color: darkgrey;
}

#equal {
  background-color: #ECAFEC;
}

/*
Tablet styles
*/

@media only screen and (min-width: 768px) {

  .calculator {
    max-width: 450px;
  }

/*---------- Numbers ---------*/

  .content-wrapper button {
    font-size: 2em;
    padding: 25px;
    margin: 10px;
   }

}

/*
Desktop styles
*/
@media only screen and (min-width: 1200px) {
 .calculator {
   max-width: 450px;
   padding: 15px;
  }

  #screen {
  font-size: 2em;
  text-align: right;
}

/*---------- Numbers ---------*/

.content-wrapper button {
  font-size: 1em;
  padding: 10px 35px;
  margin: 0px;
 }
}
